{% extends 'base.html' %}
{% load static filters %}

{% block title %} Kyrios | Criar Atividade {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/repository.css' %}" />
    <link rel="stylesheet" href="{% static 'css/atom-one-dark.min.css' %}">
{% endblock %}

{% block content %}
<main>
    {% include 'header.html' %}
    {% if objects %}
    <div class="repository">
        <div class="repo-message">
            <p>{{ repo_lsmsg }}</p>
        </div>
        <div class="repo-content">
            {% if objects.is_blob %}
                <div class="code-view">
                    <pre>
                        <code ><br>{{ objects.show }}</code>
                    </pre>
                </div>
            {% else %}
                {% for obj in objects %}
                <div class="content-line">   
                    <p class="repo-obj-name">
                        <a href="{{ base_link }}/{{obj.get_kind}}/{{obj.get_revision}}/{{obj.get_path}}">
                            {% if obj.is_tree %}
                            <i class="bi bi-folder"></i>
                            {% else %}
                            <i class="bi bi-file-code"></i>
                            {% endif %}
                            {{obj.get_path|obj_name:'/'}}
                        </a>
                    </p>
                    <p class="repo-obj-subject">{{obj.get_subject|ellipsize}}</p>
                    <p class="moment-date repo-obj-commitdate">{{obj.get_committer_date|timesince }}</p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
        <article class="markdown-preview">
            {% if objects.is_blob %}
            {% else %}
                <h2 class="markdown-title grey-color"></h2>
                <div class="arrow-down"></div>
                <div class="markdown-body">
                </div>
            {% endif %}
        </article>
    {% endif %}
</main>
<script src="{% static 'js/highlight.min.js' %}"></script>
<script>hljs.highlightAll();</script>
{% endblock %}