{% extends 'base.html' %}
{% load formbuilder static %}

{% block title %} Kyrios | Login {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %}

{% block content %}
  <h1 class="title text-center" >Editar perfil</h1>
  <div class="form-container" enctype="multipart/form-data">
      <form action="/account" method="post">
          {% csrf_token %}
          {{ form|build_form }}
          <button class="button" type="submit">Salvar</button>
      </form>
  </div>
{% endblock %}

