$color-primary: #5E2BFF;
$color-secondary: #2757c7;

$color-background-dark: #212529;
$color-background-light: #F9F9F9;

$color-background-widget-dark: #2C3135;
$color-background-widget-light: #d8d8d8;

$color-text-light: #F3FAE1;
$color-text-dark: #000000;

$color-gray: #42484D;
$color-danger: #FF2F44;
$color-alert: #f3e413;

$color-shadows: rgba(0, 0, 0, 0.25);
