@use 'base';
@use 'form';

form {
  width: 80%;
  max-width: 400px;
  margin: 4rem auto;

  .input-group .picture .image,
  .input-group .picture .image img {
    width: 100%;
    border-radius: 8px;
  }

  .input-group .picture .image:hover::after {
    width: 100%;
    border-radius: 8px;
  }

  .button {
    display: block;
    padding: 1rem 2rem;
    margin: 0 auto;
  }

  #button {
    font-size: 1.4rem;
    padding: .8rem 1rem;
    margin-top: 1rem;
  }
}

main {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

main > .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
  margin-top: 3rem;

  a {
    position: relative;
    font-size: 1.4rem;
    padding: .5rem;
    font-weight: 500;
    color: var(--color-text);
  }

  a.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-text);
  }
}

main > .header {
  margin-top: 1rem;
  position: relative;
  line-height: 0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 200ms;
    z-index: 45;
    border-radius: 10px;
  }

  .image {
    padding-top: 19%;
    width: 100%;
    min-height: 100px;
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  h2 {
    position: absolute;
    left: 1.3rem;
    bottom: 1.3rem;
    
    font-size: 2.6rem;
    color: var(--color-text-light);
    line-height: 3rem;
    z-index: 50;
  }

  .settings {
    position: absolute;
    top: 1.3rem;
    right: 1.3rem;
    font-size: 1.8rem;
    line-height: 1.6rem;
    color: var(--color-text-light);
    z-index: 50;
  
    summary {
      list-style: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &[open] summary::before {
      content: " ";
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 80;
      cursor: default;
      background: transparent;
    }
  }
}

p.description {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: var(--color-text);
  padding: 0 1.3rem;
}

p.members {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--color-text);
  padding: 0 1.3rem;

  span {
    font-weight: bold;
  }
}

.activities {
  width: 100%;
  max-width: 700px;
  margin: 3rem auto 0 auto;

  .subtitle {
    margin-bottom: 2rem;
  }
}

.activity {
  width: 100%;
  background-color: var(--color-background-widget);
  border-radius: 15px;
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .profile {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    .name {
      flex: 1;
      margin-left: 2rem;
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--color-text);

      & > span {
        font-weight: 400;
      }
    }
    
    svg {
      color: var(--color-text);
    }

  }

  .divider {
    width: 100%;
    margin: 1.5rem auto;
    height: 1px;
    background-color: var(--color-gray);
  }

  .content {
    .title {
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--color-text);
    }

    .message {
      margin-top: 1rem;
      font-size: 1.4rem;
      color: var(--color-text);
    }
  }

  .footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .actions {
      font-size: 2rem;
      color: var(--color-text);

      i {
        margin-right: 1.5rem;
      }
    }

    .time {
      font-size: 1.2rem;
      color: var(--color-text);
    }
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &:last-child {
    margin-bottom: 4rem;
  }
}

.members-container {
  width: 100%;
  max-width: 400px;
  margin: 3rem auto 4rem;

  .member {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-background-widget);
    padding: 1rem;
    border-radius: 5px;

    .user-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .image {
      width: 2.5rem;
      border-radius: 50%;
    }

    .name {
      font-size: 1.2rem;
      font-weight: 500;
      color: var(--color-text);
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    .organizer {
      font-size: 1.2rem;
      color: var(--color-text);
    }

    .kick {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--color-danger);
    }

    .kick:hover {
      text-decoration: underline;
    }
  }

  .member:not(:first-child) {
    margin-top: 1rem;
  }
}