@use 'base';

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
  width: 100%;
  padding: 3rem 2rem;
}

.repositories {
  width: 100%;
  max-width: 250px;
  opacity: 0;

  .subtitle {
    margin-bottom: 2rem;
  }

  .repository {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    border-radius: 8px;
    background-color: var(--color-background-widget);

    .profile {
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
    }
    
    .name {
      flex: 1;
      margin: 0 1.5rem;
      font-size: 1.4rem;
      color: var(--color-text);
    }

    svg {
      color: var(--color-text);
    }
  }
}

.activities {
  width: 100%;
  max-width: 1100px;

  .subtitle {
    margin-bottom: 2rem;
  }
}

.activity {
  width: 100%;
  background-color: var(--color-background-widget);
  border-radius: 15px;
  padding: 2rem;

  &:not(:first-child) {
    margin-top: 2rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .profile {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    .name {
      flex: 1;
      margin-left: 2rem;
      font-size: 1.4rem;
      font-weight: bold;
      color: var(--color-text);

      & > span {
        font-weight: 400;
      }

      a {
        color: var(--color-text);

        &:hover {
          text-decoration: underline;
        }
      }
    }
    
    svg {
      color: var(--color-text);
    }
  }

  .divider {
    width: 100%;
    margin: 1.5rem auto;
    height: 1px;
    background-color: var(--color-gray);
  }

  .content {
    a:hover .title,
    a:hover .message {
      text-decoration: underline;
    }

    .title {
      font-size: 1.4rem;
      font-weight: 700;
      color: var(--color-text);
    }

    .message {
      margin-top: 1rem;
      font-size: 1.4rem;
      color: var(--color-text);
    }
  }

  .footer {
    margin-top: 1.5rem;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    justify-content: space-between;

    .actions {
      font-size: 2rem;
      color: var(--color-text);

      i {
        margin-right: 1.5rem;
      }
    }

    .time {
      font-size: 1.2rem;
      color: var(--color-text);
    }
  }
}

.communities {
  width: 100%;
  max-width: 250px;

  form {
    margin-bottom: 1rem;

    .group {
      display: flex;
      align-items: stretch;
      margin-top: .5rem;

      input {
        margin: 0;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      input:focus + button {
        outline: 1.5px solid var(--color-primary);
      }

      button {
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 0 1rem;
        font-size: 1.6rem;
        background-color: var(--color-primary);
        color: var(--color-text-light);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }

    label {
      font-size: 1.2rem;
      color: var(--color-text);
    }

    input {
      width: 100%;
      padding: 0.8rem 1rem;
      margin-top: .5rem;
      resize: none;
  
      font-size: 1.4rem;
      display: block;
      outline: none;
      border: none;
      background: none;
      border: 0.5px solid #adadad;
      border-radius: 5px;
    }
  
    input:focus {
      border: 0.5px solid var(--color-primary);
      outline: 1.5px solid var(--color-primary);
    }
  }

}


.community {
  width: 100%;
  padding-top: calc(100% * 0.32);
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  line-height:0;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 200ms;
    z-index: 45;
  }

  &:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:not(:first-child) {
    margin-top: 1.5rem;
  }

  .background {
    position: absolute;
    top: 0;
    height: 100%;
  }

  .content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 50;
    color: var(--color-text-light);
    
    h3 {
      font-size: 1.4rem;
      line-height: 130%;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    p {
      font-size: 1.2rem;

      text-overflow: ellipsis;
      overflow: hidden;
      max-height: 3.2em;
      line-height: 1.6em;
    }
  }
}

@media (max-width: 1100px) {
  .repositories {
    display: none;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    text-align: center;
  }

  .repositories {
    display: none;
  }

  .activities {
    width: 95%;
    max-width: 850px;
  }
}