{% extends 'base.html' %}
{% load static %}

{% block title %} Kyrios | {{ task.title }} {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/task.css' %}" />
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <main>
    <h2 class="title">{{ task.title }}
      {% if isOrganizer %}
      <details class="settings">
        <summary>
          <i class="bi bi-pencil-square"></i>
        </summary>
        <details-menu>
          <a href="./edit">Editar atvidade</a>
          <a href="./delete">Excluir atividade</a>
        </details-menu>
      </details>
      {% endif %}
    </h2>
    <p class="delivery">Data de entrega: {{ task.delivery_to }}</p>
    <p class="description">{{ task.description }}</p>

    <div class="attachments">
    {% for attachment in attachments %}
      <div class="attachment">
        <a href="/media/{{ attachment.link }}">
          <div class="container">
            <i class="bi bi-file-earmark"></i>
          </div>
          <div class="name">{{ attachment }}</div>
        </a>
      </div>
    {% endfor %}
    </div>

    {% if isOrganizer %}
      <div class="shipments">
        <h3>Envios</h3>
        {% for shipment in shipments %}
          <a href="./{{ shipment.username }}" class="shipment">
            {% if shipment.picture %}
            <img src="/media/{{ shipment.get_picture }}_40x.jpg">
            {% else %}
            <img src="{% static 'images/profile.jpg' %}">
            {% endif %}
            {{ shipment.username }}
          </a>
        {% endfor %}
      </div>
    {% else %}
      <div class="submit">
        <a href="./{{ user.username }}" class="button">Ver sua atividade</a>
        <span>Clone ou configure seu repostiório git para: <br>{{ location }}</span>
      </div>
    {% endif %}
  </main>
{% endblock %}
