{% extends 'base.html' %}
{% load static %}

{% block title %} Kyrios | {{ task.title }} {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/task.css' %}" />
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <main>
    <h2 class="title">{{ task.title }}</h2>
    <p class="delivery">{{ task.delivery_to }}</p>
    <p class="description">{{ task.description }}</p>

    <div class="attachments">
    {% for attachment in attachments %}
      <div class="attachment">
        <a href="/media/{{ attachment.link }}">
          <div class="container">
            <i class="bi bi-file-earmark"></i>
          </div>
          <div class="name">{{ attachment }}</div>
        </a>
      </div>
    {% endfor %}
    </div>

    <div class="repository">
      <div class="header"></div>
      <div class="content">
        <p>Para enviar a sua atividade voçê deve criar um repositório git com a seguinte origem: <span>{{ location }}</span></p>
      </div>
    </div>
    {% for object in objects %}
      <p>{{ object }}</p>
    {% endfor %}
  </main>
{% endblock %}
