{% extends 'base.html' %}
{% load static %}

{% block title %} Kyrios | {{ community.name }} {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/community.css' %}" />
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <main>
    <div class="navigation">
      <a href="../../">Home</a>
      <a href="./" class="active">Atividades</a>
      <a href="../../members">Membros</a>
    </div>
    <div class="activities">
      {% for activity in activities %}
      <div class="activity">
        <a href="../../task/{{ activity.id }}">
        <div class="header">
          {% if activity.account.picture %}
          <img src="/media/{{ activity.account.get_picture }}_40x.jpg" class="profile">
          {% else %}
          <img src="{% static 'images/profile.jpg' %}" class="profile">
          {% endif %}
          <p class="name">{{ activity.account.username }} <span>
              postou uma nova atividade
          </span></p>
        </div>
        <div class="divider"></div>
        <div class="content">
          <p class="title">{{ activity.title }}</p>
          <p class="message">{{ activity.description }}</p>
        </div>
        <div class="footer">
          <span class="time">Data de entrega: {{ activity.delivery_to }}</span>
          <span class="time right">Em: {{ activity.created_at }}</span>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
