<!DOCTYPE html>
<html lang="pt-bt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="KYRIOS | {{ community.name }}" />
  <meta property="og:description" content="{{ community.description }}" />
  <meta property="og:image" content="/media/{{ community.pictureName }}_210x.jpg" />
  <title>KYRIOS | {{ community.name }}</title>
</head>
<body>
  
</body>
</html>