{% extends 'base.html' %}
{% load static %}

{% block title %} Kyrios | {{ community.name }} {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/community.css' %}" />
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <main>
    <div class="navigation">
      <a href="." class="active">Home</a>
      <a href="./task/all">Atividades</a>
      <a href="./members">Membros</a>
    </div>
    <div class="header">
      <div class="image">
        <img src="/media/{{ community.pictureName }}_210x.jpg" alt="">
        <h2>{{ community.name }}</h2>
        {% if isOrganizer %}      
        <details class="settings">
          <summary>
            <i class="bi bi-gear-fill"></i>
          </summary>
          <details-menu>
            <a href="/community/{{ community.id }}/edit">Editar comunidade</a>
            <a href="/community/{{ community.id }}/delete">Excluir comunidade</a>
            {% if not isOwner %}
              <a href="/community/{{ community.id }}/leave"><i class="bi bi-arrow-bar-left"></i> Sair</a>
            {% endif %}
          </details-menu>
        </details>
        {% else %}
        <details class="settings">
          <summary>
            <i class="bi bi-gear-fill"></i>
          </summary>
          <details-menu>
            <a href="/community/{{ community.id }}/leave"><i class="bi bi-arrow-bar-left"></i> Sair</a>
          </details-menu>
        </details>
        {% endif %}
      </div>
    </div>
    <p class="description">{{ community.description }}</p>
    {% if community.members.count == 1 %}
    <p class="members"><span>{{ community.members.count }}</span> membro</p>
    {% else %}
    <p class="members"><span>{{ community.members.count }}</span> membros</p>
    {% endif %}

    <div class="activities">
      {% for activity in activities %}
      <div class="activity">
        {% if activity.delivery_to %}
        <a href="./task/{{ activity.id }}">
        {% else %}
        <a href="./message/{{ activity.id }}">
        {% endif %}
        <div class="header">
          {% if activity.account.picture %}
          <img src="/media/{{ activity.account.get_picture }}_40x.jpg" class="profile">
          {% else %}
          <img src="{% static 'images/profile.jpg' %}" class="profile">
          {% endif %}
          <p class="name">{{ activity.account.username }} <span>
            {% if activity.delivery_to %}
              postou uma nova atividade
            {% else %}
              postou uma nova mensagem
            {% endif %}
          </span></p>
        </div>
        <div class="divider"></div>
        <div class="content">
          <p class="title">{{ activity.title }}</p>
          <p class="message">{{ activity.description }}</p>
        </div>
        <div class="footer">
          {% if activity.delivery_to %}
          <span class="time">Data de entrega: {{ activity.delivery_to }}</span>
          {% else %}
          <span class="time"></span>
          {% endif %}
          <span class="time">Em: {{ activity.created_at }}</span>
        </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}

