{% extends 'base.html' %}
{% load static %}

{% block title %} Kyrios | {{ community.name }} {% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/community.css' %}" />
{% endblock %}

{% block content %}
  {% include 'header.html' %}
  <main>
    <div class="navigation">
      <a href="../">Home</a>
      <a href="../task/all">Atividades</a>
      <a href="." class="active">Membros</a>
    </div>
    <div class="members-container">
      {% for member in members %}
      <div class="member">
        <div class="user-profile">
          {% if member.account.picture %}
          <img class="image" src="/media/{{ member.account.get_picture }}_40x.jpg">
          {% else %}
          <img class="image" src="{% static 'images/profile.jpg' %}">
          {% endif %}
          <p class="name">{{ member.account.username }}</p>
        </div>
        <div class="actions">
          {% if member.isOrganizer %}
            {% if member.isOwner or member.account.username == user.username  %}
              <i class="organizer bi bi-star-fill" title="Organizador"></i>
            {% else %}
              <a class="organizer" href="../member/turn-organizer/{{ member.account.username }}" title="Remover organizador" ><i class="organizer bi bi-star-fill"></i></a>
            {% endif %}
          {% elif not member.isOrganizer and isOrganizer  %}
            <a class="organizer" href="../member/turn-organizer/{{ member.account.username }}" title="Tornar organizador" ><i class="bi bi-star"></i></a>
          {% endif %}

          {% if not member.isOrganizer and isOrganizer  %}
            <a href="../member/expulse/{{ member.account.username }}" title="Expulsar" class="kick">Expulsar</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}
