{% load static %}
<header class="header">
  <div class="logo">
    <a href="/">
      <h1>KYRIOS</h1>
    </a>
  </div>
  <nav class="navigation">
    <ul>
      <li>
        <a href="/notifications"><i class="bi bi-bell"></i></a>
      </li>
      <li>
        <details>
          <summary>
            <i class="bi bi-plus-lg"></i>
          </summary>
          <details-menu>
            <a href="/community/create">Criar comunidade</a>
            {% if community %}
            <a href="/community/{{ community.id }}/task/create">Criar atividade</a>
            <a href="/community/{{ community.id }}/message/create">Criar menssagem</a>
            {% endif %}
          </details-menu>
        </details>
      </li>
      <li>
        <details>
          <summary>
            {% if user.picture %}
            <img src="/media/{{ user.get_picture }}_40x.jpg">
            {% else %}
            <img src="{% static 'images/profile.jpg' %}">
            {% endif %}
          </summary>
          <details-menu>
            <p id="toogle-theme">Mudar tema: Light</p>
            <a href="/account">Configurações</a>
            <a href="/accounts/logout">Sair</a>
          </details-menu>
        </details>
      </li>
    </ul>
  </nav>
  <script>
    const buttonTheme = document.getElementById('toogle-theme')

    const theme = localStorage.getItem('kyrios-theme') || 'light'
    if (theme == 'dark') {
      document.body.setAttribute('theme', 'dark')
      buttonTheme.textContent = 'Mudar tema: Dark'
    }

    buttonTheme.addEventListener('click', () => {
      const theme = localStorage.getItem('kyrios-theme') || 'light'
      if (theme == 'dark') {
        document.body.setAttribute('theme', 'light')
        localStorage.setItem('kyrios-theme', 'light')
        buttonTheme.textContent = 'Mudar tema: Light'
        return
      }
      document.body.setAttribute('theme', 'dark')
      localStorage.setItem('kyrios-theme', 'dark')
      buttonTheme.textContent = 'Mudar tema: Dark'
    })
  </script>
</header>