<header class="header">
  <div class="logo">
    <h1>KYRIOS</h1>
  </div>
  <nav class="navigation">
    <ul>
      <li>
        <a href="/notifications"><i class="bi bi-bell"></i></a>
      </li>
      <li>
        <details>
          <summary>
            <i class="bi bi-plus-lg"></i>
          </summary>
          <details-menu>
            <a href="#">Criar comunidade</a>
            <a href="#">Criar repositorio</a>
          </details-menu>
        </details>
      </li>
      <li>
        <details>
          <summary>
            <i class="bi bi-circle-fill"></i>
          </summary>
          <details-menu>
            <a href="/user">Seu perfil</a>
            <a href="#">Suas comunidades</a>
            <a href="#">Seus repositorios</a>
            <div class="divider"></div>
            <a href="#">Configurações</a>
            <a href="#">Sair</a>
          </details-menu>
        </details>
      </li>
    </ul>
  </nav>
</header>