{% extends 'base.html' %} 
{% load static %} 

{% block title %}Kyrios | Home{%endblock%} 

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock%} 

{% block content %}
{% include 'header.html' %}
<div class="container">
  <div class="repositories">
    <h2 class="subtitle">Repositorios</h2>
    {% for repository in repositories %}
    <div class="repository">
      <img src="{% static 'images/profile.jpg' %}" alt="" class="profile" />
      <p class="name">{{ repository.name }}</p>
    </div>
    {% endfor %}
  </div>

  <div class="activities">
    <h2 class="subtitle">Atividade</h2>

    {% for activity in activities %}
      <div class="activity">
        <div class="header">
          {% if activity.account.picture %}
          <img src="/media/{{ activity.account.get_picture }}_40x.jpg" class="profile">
          {% else %}
          <img src="{% static 'images/profile.jpg' %}" class="profile">
          {% endif %}
          <p class="name">{{ activity.account.username }} <span>
            {% if activity.delivery_to %}
              postou uma nova atividade
            {% else %}
              postou uma nova mensagem
            {% endif %}
            em </span>
            <a href="/community/{{ activity.community.id }}">{{ activity.community.name }}</a>
          </p>
        </div>
        <div class="divider"></div>
        <div class="content">
          {% if activity.delivery_to %}
          <a href="/community/{{ activity.community.id }}/task/{{ activity.id }}">
          {% else %}
          <a href="/community/{{ activity.community.id }}/message/{{ activity.id }}">
          {% endif %}
            <p class="title">{{ activity.title }}</p>
            <p class="message">{{ activity.description }}</p>
          </a>
        </div>
        <div class="footer">
          {% if activity.delivery_to %}
          <span class="time">Data de entrega: {{ activity.delivery_to }}</span>
          {% else %}
          <span class="time"></span>
          {% endif %}
          <span class="time right">Em: {{ activity.created_at }}</span>
        </div>
      </div>
      {% endfor %}
  </div>

  <div class="communities">
    <h2 class="subtitle">Comunidades</h2>

    <form action="/community/enter/" class="enter-community">
      <label for="communityID">Entrar em uma comunidade</label>
      <div class="group">
        <input
          type="text"
          name="communityID"
          id="communityID"
          placeholder="Entrar em uma comunidade"
        />
        <button type="submit">
          <i class="bi bi-arrow-right"></i>
        </button>
      </div>
    </form>

    {% for community in communities %}
    <div class="community">
      {% if community.pictureName %}
      <img class="background" src="/media/{{ community.pictureName }}_70x.jpg" alt="">
      {% else %}
      <img class="background" src="/static/images/community.jpg" alt="">
      {% endif %}
      <a class="content" href="/community/{{community.id}}">
        <h3>{{ community.name }}</h3>
        <p>{{ community.description }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
